/** default html **/

	html {
	-webkit-font-smoothing: antialiased;
	overflow-y: scroll;
	}
	
	body {
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	background-color: #fff;
	}


	html, body {
	height: 100%;
	width: 100%;
	}

	div {
	display: block;
	margin: auto;
	padding: 0;
	}

	header {
	margin: 0;
	padding: 2em 0 2em 0;
	}
	
	section {
	margin: 0;
	padding: 0;
	}
	
	hr {
	margin: 0;
	padding: 0;
	border: none;
    border-bottom: 1px solid #000;
	}
	
	hr.thick {
	margin: 0;
	padding: 0;
	border: none;
    border-bottom: 3px solid #000;
	}
	
	hr.divider {
	width: 100%;
	}

	table, th, td {
	border-collapse: collapse;
	}

	ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	}

	li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: none;
	}

	#maplist ul {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	}

	#maplist li {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0.4em 0 3.6em 0;
	border-bottom: 3px solid #000;
	}

	#breadcrumb {
	margin: auto;
	padding: 0em 0 0 0;
	font-family: 'Akzidenz', monospace;
	font-size: 1.4em;
	}
	
	#breadcrumb ul, li {
	display: inline-block;

}
/** fonts **/

	@font-face {
    font-family: 'Akzidenz';
    src: url('../assets/AkzidenzGroteskBE-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
	}

	@font-face {
    font-family: 'Maison Neue';
    src: url('../assets/Maison-Neue-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
	}
	
	@font-face {
    font-family: 'Apercu Mono';
    src: url('../assets/Apercu-Mono.woff') format('woff');
    font-weight: 400;
    font-style: normal;
	}
	
/** type **/

	h1 {
	margin: 0;
	padding: 0;
	font-family: 'Akzidenz', sans-serif;
	font-weight: 400;
	font-size: 1.4em;
	letter-spacing: 0px;
	}
	
	h2 {
	margin: 0;
	padding: 0;
	font-family: 'Akzidenz', sans-serif;
	font-weight: 400;
	font-size: 2.8em;
	letter-spacing: 0px;
	}
	
	h2.map {
	margin: 0;
	padding: 1em 0 0 0;
	font-family: 'Akzidenz', sans-serif;
	font-weight: 400;
	font-size: 2.8em;
	letter-spacing: 0px;
	}

/** containers **/

.main {
width: 1200px;
height: auto;
margin: auto;
padding: 0;
font-family: 'Akzidenz';
font-weight: 400;
}

nav {
border: 0px solid #e1e1e1;

}

/** formatting **/

	a.link {
	text-decoration: none;
	color: #000;
	}
	
	#breadcrumb a {
	text-decoration: underline;
	}
	
	a.link:hover {
	text-decoration: underline;
	color: #0f4beb;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
	}
	
	a.link:visited {
	text-decoration: none;
	color: #fc2764;
	}
	
	a.active {
	text-decoration: underline;
	color: #0f4beb;
	}

/** crosshair **/

*{cursor: none;}

#crosshair-h {
    width: 100%;
    height: 1px;
    margin-top: -1px;
}
#crosshair-v {
    height: 100%;
    width: 1px;
    margin-left: -1px;
}
.crosshair {    
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
	pointer-events: none;
}

/**
https://fontsinuse.com/uses/19917/insert-linguistic-message-here
https://fontsinuse.com/uses/23515/european-court-of-human-rights-database
https://fontsinuse.com/uses/25986/micro-floppy-archive
https://fontsinuse.com/uses/25459/part-practice-for-architecture-research-and-t
**/